.link {
  cursor: pointer;
  text-decoration: none;
}

.root {
  flex-grow: 1;
}

.paper {
  padding: 16px;
}

.image {
  width: 180px;
  height: 180px;
}

.img {
  margin: auto;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.pricingContainer {
  margin-bottom: var(--spacing-xl) !important;
  padding-bottom: 0 !important;
}
