.root {
  flex-grow: 1;
}
.divider {
  height: 28;
  margin: 4;
}
.input {
  margin-left: 8px;
  flex: 1;
}
.iconButton {
  padding: 10px;
}
.inputRoot {
  color: "inherit";
  background-color: "white";
}

.searchForm {
  padding: "2px 4px";
  display: flex;
  align-items: "center";
  width: 800px;
  min-width: 200px;
  margin-bottom: 1rem;
}

.appBar {
  box-shadow: none !important;
}

@media only screen and (min-width: 1024px) {
  .searchForm {
    margin: 0;
  }
}
